
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<Product> list = ViewBag.SearchList;
}

<div class="search-result" id="searchResults">
    <h6 style="font-weight: 700;">Sản phẩm</h6>
    <div class="search-item-list">
        @if (list != null)
        {
            foreach (var product in list)
            {
                <a asp-controller="Product" asp-action="ProductDetailPage" asp-route-id="@product.ProductId" style="color: black; text-decoration:none;">
                    <div class="search-item">
                        <img src="@product.Img1" alt="" height="75px" width="75px">
                        <div class="item-info">
                            <h6 style="margin-bottom: 5px;">@product.ProductName @product.Version</h6>
                            <h6 style="color: #EC1250; margin: 0;">@product.FormattedPrice</h6>
                        </div>
                    </div>
                </a>
            }
        }
        else
        {
            if (ViewBag.ErrorMessage != null)
            {
                <span>@ViewBag.ErrorMessage</span>
            }
        }
    </div>
</div>