@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Build PC Page";
}

<div class="main-content">
    <div class="title">
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <p class="box">Trang chủ</p>
        </a>
        <p> / </p>
        <p class="box box-active">Build PC</p>
    </div>

    <h1>Build PC</h1>
    @* <form action="" method="post"> *@
        <div class="buildPC-content">
        <button id="btnResetAllBox" class="btn-reset" onclick="resetAllBox()">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.6498 2.35C12.9097 1.60485 12.0294 1.01356 11.0597 0.610231C10.09 0.206901 9.05001 -0.000494355 7.99977 8.84845e-07C3.57977 8.84845e-07 0.00976562 3.58 0.00976562 8C0.00976562 12.42 3.57977 16 7.99977 16C11.7298 16 14.8398 13.45 15.7298 10H13.6498C13.2378 11.1695 12.4731 12.1824 11.4611 12.8988C10.4491 13.6153 9.23971 14 7.99977 14C4.68977 14 1.99977 11.31 1.99977 8C1.99977 4.69 4.68977 2 7.99977 2C9.65977 2 11.1398 2.69 12.2198 3.78L8.99977 7H15.9998V8.84845e-07L13.6498 2.35Z" fill="black" />
            </svg>

            <span>Chọn lại từ đầu</span>
        </button>
        <div class="content-box">
            <div class="PC-box">
                <!--CPU-->
                <div class="component-box">
                    <div class="component-choice">
                            <input type="hidden" id="selectedCpuId" name="selectedCpuId" />
                        <img id="selectedCpuImage" src="https://i.postimg.cc/GhkMNN66/n36733-001-arl-i9k-univ-b4cd53ec34294ed9bea8be6f28991d91-medium.webp" alt="">
                        <h4 id="selectedCpuTitle">CPU</h4>
                        <div>
                            <p id="selectedCpuName"></p>
                            <p id="selectedCpuPrice" style="color: red"></p>
                        </div>
                        <input type="number" id="CpuPrice" hidden value="0">
                    </div>

                    <button id="btnCPU" class="btn-add-component" onclick="openModalSelectCPU()">
                        <span>Thêm</span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2ZM12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z" fill="white" />
                        </svg>
                    </button>
                </div>
                <!--Mainboard-->
                <div class="component-box">
                    <div class="component-choice">
                            <input type="hidden" id="selectedMainboardId" name="selectedMainboardId" />
                        <img id="selectedMainboardImage" src="https://i.postimg.cc/pLR0tCHr/x870e-aorus-pro-ice-01-68e6e05781dd48d4a03485dd1930d7ad-medium.webp" alt="">
                        <h4 id="selectedMainboardTitle">Mainboard</h4>
                        <div>
                            <p id="selectedMainboardName"></p>
                            <p id="selectedMainboardPrice" style="color: red"></p>
                        </div>
                        <input type="number" id="MainboardPrice" hidden value="0">
                    </div>

                    <button id="btnMainboard" class="btn-add-component" onclick="openModalSelectMainboard()">
                        <span>Thêm</span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2ZM12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z" fill="white" />
                        </svg>
                    </button>
                </div>
                <!--VGA-->
                <div class="component-box">
                    <div class="component-choice">
                            <input type="hidden" id="selectedVgaId" name="selectedVgaId" />
                        <img id="selectedVgaImage" src="https://i.postimg.cc/ZqF7BgDv/VGA.png" alt="">
                        <h4 id="selectedVgaTitle">Card đồ họa</h4>
                        <div>
                            <p id="selectedVgaName"></p>
                            <p id="selectedVgaPrice" style="color: red"></p>
                        </div>
                        <input type="number" id="VgaPrice" hidden value="0">
                    </div>

                    <button id="btnVGA" class="btn-add-component" onclick="openModalSelectVGA()">
                        <span>Thêm</span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2ZM12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z" fill="white" />
                        </svg>
                    </button>
                </div>
                <!--Ram-->
                <div class="component-box">
                    <div class="component-choice">
                            <input type="hidden" id="selectedRamId" name="selectedRamId" />
                        <img id="selectedRamImage" src="https://i.postimg.cc/RVVw6WZ0/image13.png" alt="">
                        <h4 id="selectedRamTitle">RAM</h4>
                        <div>
                            <p id="selectedRamName"></p>
                            <p id="selectedRamPrice" style="color: red"></p>
                        </div>
                        <input type="number" id="RamPrice" hidden value="0">
                    </div>

                    <button id="btnRam" class="btn-add-component" onclick="openModalSelectRam()">
                        <span>Thêm</span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2ZM12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z" fill="white" />
                        </svg>
                    </button>
                </div>
                <!--SSD-->
                <div class="component-box">
                    <div class="component-choice">
                            <input type="hidden" id="selectedSsdId" name="selectedSsdId" />
                        <img id="selectedSsdImage" src="https://i.postimg.cc/Y2vZXdrw/image.png" alt="">
                        <h4 id="selectedSsdTitle">SSD</h4>
                        <div>
                            <p id="selectedSsdName"></p>
                            <p id="selectedSsdPrice" style="color: red"></p>
                        </div>
                        <input type="number" id="SsdPrice" hidden value="0">
                    </div>

                    <button id="btnSsd" class="btn-add-component" onclick="openModalSelectSsd()">
                        <span>Thêm</span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2ZM12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z" fill="white" />
                        </svg>
                    </button>
                </div>
                <!--HDD-->
                <div class="component-box">
                    <div class="component-choice">
                            <input type="hidden" id="selectedHddId" name="selectedHddId" />
                        <img id="selectedHddImage" src="https://i.postimg.cc/fTXFskS2/image2.png" alt="">
                        <h4 id="selectedHddTitle">HDD</h4>
                        <div>
                            <p id="selectedHddName"></p>
                            <p id="selectedHddPrice" style="color: red"></p>
                        </div>
                        <input type="number" id="HddPrice" hidden value="0">
                    </div>

                    <button id="btnHdd" class="btn-add-component" onclick="openModalSelectHdd()">
                        <span>Thêm</span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2ZM12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z" fill="white" />
                        </svg>
                    </button>
                </div>
                <!--Case-->
                <div class="component-box">
                    <div class="component-choice">
                            <input type="hidden" id="selectedCaseId" name="selectedCaseId" />
                        <img id="selectedCaseImage" src="https://i.postimg.cc/wxnPnDMR/image3.png" alt="">
                        <h4 id="selectedCaseTitle">Case PC</h4>
                        <div>
                            <p id="selectedCaseName"></p>
                            <p id="selectedCasePrice" style="color: red"></p>
                        </div>
                        <input type="number" id="CasePrice" hidden value="0">
                    </div>

                    <button id="btnCase" class="btn-add-component" onclick="openModalSelectCase()">
                        <span>Thêm</span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2ZM12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z" fill="white" />
                        </svg>
                    </button>
                </div>
                <!--Nguon(PSU)-->
                <div class="component-box">
                    <div class="component-choice">
                            <input type="hidden" id="selectedPsuId" name="selectedPsuId" />
                        <img id="selectedPsuImage" src="https://i.postimg.cc/x12Z1YK0/image4.png" alt="">
                        <h4 id="selectedPsuTitle">Nguồn</h4>
                        <div>
                            <p id="selectedPsuName"></p>
                            <p id="selectedPsuPrice" style="color: red"></p>
                        </div>
                        <input type="number" id="PsuPrice" hidden value="0">
                    </div>

                    <button id="btnPsu" class="btn-add-component" onclick="openModalSelectPsu()">
                        <span>Thêm</span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2ZM12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z" fill="white" />
                        </svg>
                    </button>
                </div>
                <!--Tan Nhiet-->
                <div class="component-box">
                    <div class="component-choice">
                            <input type="hidden" id="selectedTanNhietId" name="selectedTanNhietId" />
                        <img id="selectedTanNhietImage" src="https://i.postimg.cc/W1wHDKn0/image5.png" alt="">
                        <h4 id="selectedTanNhietTitle">Tản nhiệt</h4>
                        <div>
                            <p id="selectedTanNhietName"></p>
                            <p id="selectedTanNhietPrice" style="color: red"></p>
                        </div>
                        <input type="number" id="TanNhietPrice" hidden value="0">
                    </div>

                    <button id="btnTanNhiet" class="btn-add-component" onclick="openModalSelectTanNhiet()">
                        <span>Thêm</span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2ZM12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z" fill="white" />
                        </svg>
                    </button>
                </div>
                <!--Monitor-->
                <div class="component-box">
                    <div class="component-choice">
                            <input type="hidden" id="selectedMonitorId" name="selectedMonitorId" />
                        <img id="selectedMonitorImage" src="https://i.postimg.cc/d0QSGBHp/image6.png" alt="">
                        <h4 id="selectedMonitorTitle">Màn hình</h4>
                        <div>
                            <p id="selectedMonitorName"></p>
                            <p id="selectedMonitorPrice" style="color: red"></p>
                        </div>
                        <input type="number" id="MonitorPrice" hidden value="0">
                    </div>

                    <button id="btnMonitor" class="btn-add-component" onclick="openModalSelectMonitor()">
                        <span>Thêm</span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2ZM12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z" fill="white" />
                        </svg>
                    </button>
                </div>
                <!--Mouse-->
                <div class="component-box">
                    <div class="component-choice">
                            <input type="hidden" id="selectedMouseId" name="selectedMouseId" />
                        <img id="selectedMouseImage" src="https://i.postimg.cc/tJRnxcyc/image14.png" alt="" width="75px" height="75px">
                        <h4 id="selectedMouseTitle">Chuột</h4>
                        <div>
                            <p id="selectedMouseName"></p>
                            <p id="selectedMousePrice" style="color: red"></p>
                        </div>
                        <input type="number" id="MousePrice" hidden value="0">
                    </div>

                    <button id="btnMouse" class="btn-add-component" onclick="openModalSelectMouse()">
                        <span>Thêm</span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2ZM12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z" fill="white" />
                        </svg>
                    </button>
                </div>
                <!--Keyboard-->
                <div class="component-box">
                    <div class="component-choice">
                            <input type="hidden" id="selectedKeyboardId" name="selectedKeyboardId" />
                        <img id="selectedKeyboardImage" src="https://i.postimg.cc/Y9ZnKwrB/image7.png" alt="">
                        <h4 id="selectedKeyboardTitle">Bàn phím</h4>
                        <div>
                            <p id="selectedKeyboardName"></p>
                            <p id="selectedKeyboardPrice" style="color: red"></p>
                        </div>
                        <input type="number" id="KeyboardPrice" hidden value="0">
                    </div>

                    <button id="btnKeyboard" class="btn-add-component" onclick="openModalSelectKeyboard()">
                        <span>Thêm</span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2ZM12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z" fill="white" />
                        </svg>
                    </button>
                </div>
                <!--Earphone-->
                <div class="component-box">
                    <div class="component-choice">
                            <input type="hidden" id="selectedEarphoneId" name="selectedEarphoneId" />
                        <img id="selectedEarphoneImage" src="https://i.postimg.cc/cC3Dd5Cg/image8.png" alt="">
                        <h4 id="selectedEarphoneTitle">Tai nghe</h4>
                        <div>
                            <p id="selectedEarphoneName"></p>
                            <p id="selectedEarphonePrice" style="color: red"></p>
                        </div>
                        <input type="number" id="EarphonePrice" hidden value="0">
                    </div>

                    <button id="btnEarphone" class="btn-add-component" onclick="openModalSelectEarphone()">
                        <span>Thêm</span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2ZM12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM12 6C12.5523 6 13 6.44772 13 7V11H17C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13H13V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V13H7C6.44772 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11H11V7C11 6.44772 11.4477 6 12 6Z" fill="white" />
                        </svg>
                    </button>
                </div>
            </div>

                <div class="component-cart">
                <form action="AddProductBuildPcToCart" method="post">
                    <div class="component-cart-text">
                        <h4>Tạm tính:</h4>
                        <h4 id="TotalPriceDisplay"></h4>
                        <input type="hidden" id="TotalPrice" name="TotalPrice" value="0" />
                    </div>

                    <div style="text-align: center; margin-top: 40px;">
                        <button type="submit" class="btn-add-to-cart">
                            <span>Thêm vào giỏ hàng</span>
                        </button>
                    </div>
                </form>
                </div>
        </div>
    </div>
    @* </form> *@
</div>


<!-- Modal CPU -->
<div class="modal fade" id="ModalSelectCPU" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Chọn CPU</h5>
            </div>
            <div class="modal-body">
                <div class="product-list-content" style="display: flex; flex-direction: column; padding: 0; width: 100%;">
                    <div class="product-list">
                        @foreach (var product in ViewBag.ProductList)
                        {
                            if (product.TypeId == 7)
                            {
                                <a href="javascript:void(0);" onclick="selectCPU('@product.ProductId' ,'@product.Img1', '@product.ProductName', '@product.FormattedPrice', '@product.Price')" style="color: black; text-decoration:none;">
                                    <div class="product-box-list">
                                        <img src="@product.Img1" height="100px" width="100px" alt="">
                                        <div class="product-info">
                                            <span>@product.ProductName</span>
                                            <h6>@product.FormattedPrice</h6>
                                            <div class="color-list">
                                                <span>Màu</span>
                                                @if (!string.IsNullOrEmpty(product.Color))
                                                {
                                                    <svg width="14" height="14">
                                                        <circle cx="7" cy="7" r="7" fill="@(product.Color.Contains("Gray") || product.Color.Contains("Grey") ? "Gray" : "black")" />
                                                    </svg>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


<!-- Moda MainBoard -->
<div class="modal fade" id="ModalSelectMainboard" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Chọn Mainboard</h5>
            </div>
            <div class="modal-body">
                <div class="product-list-content" style="display: flex; flex-direction: column; padding: 0; width: 100%;">
                    <div class="product-list">
                        @foreach (var product in ViewBag.ProductList)
                        {
                            if (product.TypeId == 6)
                            {
                                <a href="javascript:void(0);" onclick="selectMainboard('@product.ProductId' ,'@product.Img1', '@product.ProductName', '@product.FormattedPrice', '@product.Price')" style="color: black; text-decoration:none;">
                                    <div class="product-box-list">
                                        <img src="@product.Img1" height="100px" width="100px" alt="">
                                        <div class="product-info">
                                            <span>@product.ProductName</span>
                                            <h6>@product.FormattedPrice</h6>
                                            <div class="color-list">
                                                <span>Màu</span>
                                                @if (!string.IsNullOrEmpty(product.Color))
                                                {
                                                    <svg width="14" height="14">
                                                        <circle cx="7" cy="7" r="7" fill="@(product.Color.Contains("Gray") || product.Color.Contains("Grey") ? "Gray" : "black")" />
                                                    </svg>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Modal VGA -->
<div class="modal fade" id="ModalSelectVGA" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Chọn Card đồ họa</h5>
            </div>
            <div class="modal-body">
                <div class="product-list-content" style="display: flex; flex-direction: column; padding: 0; width: 100%;">
                    <div class="product-list">
                        @foreach (var product in ViewBag.ProductList)
                        {
                            if (product.TypeId == 8)
                            {
                                <a href="javascript:void(0);" onclick="selectVGA('@product.ProductId' ,'@product.Img1', '@product.ProductName', '@product.FormattedPrice', '@product.Price')" style="color: black; text-decoration:none;">
                                    <div class="product-box-list">
                                        <img src="@product.Img1" height="100px" width="100px" alt="">
                                        <div class="product-info">
                                            <span>@product.ProductName</span>
                                            <h6>@product.FormattedPrice</h6>
                                            <div class="color-list">
                                                <span>Màu</span>
                                                @if (!string.IsNullOrEmpty(product.Color))
                                                {
                                                    <svg width="14" height="14">
                                                        <circle cx="7" cy="7" r="7" fill="@(product.Color.Contains("Gray") || product.Color.Contains("Grey") ? "Gray" : "black")" />
                                                    </svg>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Modal Ram -->
<div class="modal fade" id="ModalSelectRam" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Chọn RAM</h5>
            </div>
            <div class="modal-body">
                <div class="product-list-content" style="display: flex; flex-direction: column; padding: 0; width: 100%;">
                    <div class="product-list">
                        @foreach (var product in ViewBag.ProductList)
                        {
                            if (product.TypeId == 9)
                            {
                                <a href="javascript:void(0);" onclick="selectRam('@product.ProductId' ,'@product.Img1', '@product.ProductName', '@product.FormattedPrice', '@product.Price')" style="color: black; text-decoration:none;">
                                    <div class="product-box-list">
                                        <img src="@product.Img1" height="100px" width="100px" alt="">
                                        <div class="product-info">
                                            <span>@product.ProductName</span>
                                            <h6>@product.FormattedPrice</h6>
                                            <div class="color-list">
                                                <span>Màu</span>
                                                @if (!string.IsNullOrEmpty(product.Color))
                                                {
                                                    <svg width="14" height="14">
                                                        <circle cx="7" cy="7" r="7" fill="@(product.Color.Contains("Gray") || product.Color.Contains("Grey") ? "Gray" : "black")" />
                                                    </svg>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Modal Ssd -->
<div class="modal fade" id="ModalSelectSsd" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Chọn SSD</h5>
            </div>
            <div class="modal-body">
                <div class="product-list-content" style="display: flex; flex-direction: column; padding: 0; width: 100%;">
                    <div class="product-list">
                        @foreach (var product in ViewBag.ProductList)
                        {
                            if (product.TypeId == 10)
                            {
                                <a href="javascript:void(0);" onclick="selectSsd('@product.ProductId' ,'@product.Img1', '@product.ProductName', '@product.FormattedPrice', '@product.Price')" style="color: black; text-decoration:none;">
                                    <div class="product-box-list">
                                        <img src="@product.Img1" height="100px" width="100px" alt="">
                                        <div class="product-info">
                                            <span>@product.ProductName</span>
                                            <h6>@product.FormattedPrice</h6>
                                            <div class="color-list">
                                                <span>Màu</span>
                                                @if (!string.IsNullOrEmpty(product.Color))
                                                {
                                                    <svg width="14" height="14">
                                                        <circle cx="7" cy="7" r="7" fill="@(product.Color.Contains("Gray") || product.Color.Contains("Grey") ? "Gray" : "black")" />
                                                    </svg>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Modal HDD -->
<div class="modal fade" id="ModalSelectHdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Chọn HDD</h5>
            </div>
            <div class="modal-body">
                <div class="product-list-content" style="display: flex; flex-direction: column; padding: 0; width: 100%;">
                    <div class="product-list">
                        @foreach (var product in ViewBag.ProductList)
                        {
                            if (product.TypeId == 11)
                            {
                                <a href="javascript:void(0);" onclick="selectHdd('@product.ProductId' ,'@product.Img1', '@product.ProductName', '@product.FormattedPrice', '@product.Price')" style="color: black; text-decoration:none;">
                                    <div class="product-box-list">
                                        <img src="@product.Img1" height="100px" width="100px" alt="">
                                        <div class="product-info">
                                            <span>@product.ProductName</span>
                                            <h6>@product.FormattedPrice</h6>
                                            <div class="color-list">
                                                <span>Màu</span>
                                                @if (!string.IsNullOrEmpty(product.Color))
                                                {
                                                    <svg width="14" height="14">
                                                        <circle cx="7" cy="7" r="7" fill="@(product.Color.Contains("Gray") || product.Color.Contains("Grey") ? "Gray" : "black")" />
                                                    </svg>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Modal Case -->
<div class="modal fade" id="ModalSelectCase" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Chọn Case</h5>
            </div>
            <div class="modal-body">
                <div class="product-list-content" style="display: flex; flex-direction: column; padding: 0; width: 100%;">
                    <div class="product-list">
                        @foreach (var product in ViewBag.ProductList)
                        {
                            if (product.TypeId == 12)
                            {
                                <a href="javascript:void(0);" onclick="selectCase('@product.ProductId' ,'@product.Img1', '@product.ProductName', '@product.FormattedPrice', '@product.Price')" style="color: black; text-decoration:none;">
                                    <div class="product-box-list">
                                        <img src="@product.Img1" height="100px" width="100px" alt="">
                                        <div class="product-info">
                                            <span>@product.ProductName</span>
                                            <h6>@product.FormattedPrice</h6>
                                            <div class="color-list">
                                                <span>Màu</span>
                                                @if (!string.IsNullOrEmpty(product.Color))
                                                {
                                                    <svg width="14" height="14">
                                                        <circle cx="7" cy="7" r="7" fill="@(product.Color.Contains("Gray") || product.Color.Contains("Grey") ? "Gray" : "black")" />
                                                    </svg>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Modal Psu(Nguon) -->
<div class="modal fade" id="ModalSelectPsu" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Chọn Nguồn</h5>
            </div>
            <div class="modal-body">
                <div class="product-list-content" style="display: flex; flex-direction: column; padding: 0; width: 100%;">
                    <div class="product-list">
                        @foreach (var product in ViewBag.ProductList)
                        {
                            if (product.TypeId == 13)
                            {
                                <a href="javascript:void(0);" onclick="selectPsu('@product.ProductId' ,'@product.Img1', '@product.ProductName', '@product.FormattedPrice', '@product.Price')" style="color: black; text-decoration:none;">
                                    <div class="product-box-list">
                                        <img src="@product.Img1" height="100px" width="100px" alt="">
                                        <div class="product-info">
                                            <span>@product.ProductName</span>
                                            <h6>@product.FormattedPrice</h6>
                                            <div class="color-list">
                                                <span>Màu</span>
                                                @if (!string.IsNullOrEmpty(product.Color))
                                                {
                                                    <svg width="14" height="14">
                                                        <circle cx="7" cy="7" r="7" fill="@(product.Color.Contains("Gray") || product.Color.Contains("Grey") ? "Gray" : "black")" />
                                                    </svg>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Modal TanNhiet -->
<div class="modal fade" id="ModalSelectTanNhiet" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Chọn Tản Nhiệt</h5>
            </div>
            <div class="modal-body">
                <div class="product-list-content" style="display: flex; flex-direction: column; padding: 0; width: 100%;">
                    <div class="product-list">
                        @foreach (var product in ViewBag.ProductList)
                        {
                            if (product.TypeId == 14)
                            {
                                <a href="javascript:void(0);" onclick="selectTanNhiet('@product.ProductId' ,'@product.Img1', '@product.ProductName', '@product.FormattedPrice', '@product.Price')" style="color: black; text-decoration:none;">
                                    <div class="product-box-list">
                                        <img src="@product.Img1" height="100px" width="100px" alt="">
                                        <div class="product-info">
                                            <span>@product.ProductName</span>
                                            <h6>@product.FormattedPrice</h6>
                                            <div class="color-list">
                                                <span>Màu</span>
                                                @if (!string.IsNullOrEmpty(product.Color))
                                                {
                                                    <svg width="14" height="14">
                                                        <circle cx="7" cy="7" r="7" fill="@(product.Color.Contains("Gray") || product.Color.Contains("Grey") ? "Gray" : "black")" />
                                                    </svg>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Modal Monitor -->
<div class="modal fade" id="ModalSelectMonitor" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Chọn Màn Hình</h5>
            </div>
            <div class="modal-body">
                <div class="product-list-content" style="display: flex; flex-direction: column; padding: 0; width: 100%;">
                    <div class="product-list">
                        @foreach (var product in ViewBag.ProductList)
                        {
                            if (product.TypeId == 5)
                            {
                                <a href="javascript:void(0);" onclick="selectMonitor('@product.ProductId' ,'@product.Img1', '@product.ProductName', '@product.FormattedPrice', '@product.Price')" style="color: black; text-decoration:none;">
                                    <div class="product-box-list">
                                        <img src="@product.Img1" height="100px" width="100px" alt="">
                                        <div class="product-info">
                                            <span>@product.ProductName</span>
                                            <h6>@product.FormattedPrice</h6>
                                            <div class="color-list">
                                                <span>Màu</span>
                                                @if (!string.IsNullOrEmpty(product.Color))
                                                {
                                                    <svg width="14" height="14">
                                                        <circle cx="7" cy="7" r="7" fill="@(product.Color.Contains("Gray") || product.Color.Contains("Grey") ? "Gray" : "black")" />
                                                    </svg>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Modal Mouse -->
<div class="modal fade" id="ModalSelectMouse" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Chọn Chuột</h5>
            </div>
            <div class="modal-body">
                <div class="product-list-content" style="display: flex; flex-direction: column; padding: 0; width: 100%;">
                    <div class="product-list">
                        @foreach (var product in ViewBag.ProductList)
                        {
                            if (product.TypeId == 3)
                            {
                                <a href="javascript:void(0);" onclick="selectMouse('@product.ProductId' ,'@product.Img1', '@product.ProductName', '@product.FormattedPrice', '@product.Price')" style="color: black; text-decoration:none;">
                                    <div class="product-box-list">
                                        <img src="@product.Img1" height="100px" width="100px" alt="">
                                        <div class="product-info">
                                            <span>@product.ProductName</span>
                                            <h6>@product.FormattedPrice</h6>
                                            <div class="color-list">
                                                <span>Màu</span>
                                                @if (!string.IsNullOrEmpty(product.Color))
                                                {
                                                    <svg width="14" height="14">
                                                        <circle cx="7" cy="7" r="7" fill="@(product.Color.Contains("Gray") || product.Color.Contains("Grey") ? "Gray" : "black")" />
                                                    </svg>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Modal Keyboard -->
<div class="modal fade" id="ModalSelectKeyboard" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Chọn Bàn phím</h5>
            </div>
            <div class="modal-body">
                <div class="product-list-content" style="display: flex; flex-direction: column; padding: 0; width: 100%;">
                    <div class="product-list">
                        @foreach (var product in ViewBag.ProductList)
                        {
                            if (product.TypeId == 4)
                            {
                                <a href="javascript:void(0);" onclick="selectKeyboard('@product.ProductId' ,'@product.Img1', '@product.ProductName', '@product.FormattedPrice', '@product.Price')" style="color: black; text-decoration:none;">
                                    <div class="product-box-list">
                                        <img src="@product.Img1" height="100px" width="100px" alt="">
                                        <div class="product-info">
                                            <span>@product.ProductName</span>
                                            <h6>@product.FormattedPrice</h6>
                                            <div class="color-list">
                                                <span>Màu</span>
                                                @if (!string.IsNullOrEmpty(product.Color))
                                                {
                                                    <svg width="14" height="14">
                                                        <circle cx="7" cy="7" r="7" fill="@(product.Color.Contains("Gray") || product.Color.Contains("Grey") ? "Gray" : "black")" />
                                                    </svg>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Modal Earphone -->
<div class="modal fade" id="ModalSelectEarphone" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Chọn Tai Nghe</h5>
            </div>
            <div class="modal-body">
                <div class="product-list-content" style="display: flex; flex-direction: column; padding: 0; width: 100%;">
                    <div class="product-list">
                        @foreach (var product in ViewBag.ProductList)
                        {
                            if (product.TypeId == 2)
                            {
                                <a href="javascript:void(0);" onclick="selectEarphone('@product.ProductId' ,'@product.Img1', '@product.ProductName', '@product.FormattedPrice', '@product.Price')" style="color: black; text-decoration:none;">
                                    <div class="product-box-list">
                                        <img src="@product.Img1" height="100px" width="100px" alt="">
                                        <div class="product-info">
                                            <span>@product.ProductName</span>
                                            <h6>@product.FormattedPrice</h6>
                                            <div class="color-list">
                                                <span>Màu</span>
                                                @if (!string.IsNullOrEmpty(product.Color))
                                                {
                                                    <svg width="14" height="14">
                                                        <circle cx="7" cy="7" r="7" fill="@(product.Color.Contains("Gray") || product.Color.Contains("Grey") ? "Gray" : "black")" />
                                                    </svg>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
    let TotalPrice = 0;

    function updateTotalPrice() {
        if (!isNaN(TotalPrice) && TotalPrice >= 0) {
            const formatted = TotalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + 'đ';
            document.getElementById('TotalPriceDisplay').innerText = formatted;
            document.getElementById('TotalPrice').value = TotalPrice;
        } else {
            document.getElementById('TotalPriceDisplay').innerText = '0đ';
            document.getElementById('TotalPrice').value = 0;
        }
    }

    // CPU
    function selectCPU (id, image, name, vprice, price) {
        document.getElementById('selectedCpuId').value = id;
        document.getElementById('selectedCpuImage').src = image;
        document.getElementById('selectedCpuName').innerText = name;
        document.getElementById('selectedCpuTitle').innerText = '';
        document.getElementById('selectedCpuPrice').innerText = vprice + 'đ';
        document.getElementById('btnCPU').querySelector('span').innerText = 'Xóa';
        document.getElementById('btnCPU').querySelector('svg').style.display = 'none';
        document.getElementById('CpuPrice').value = price;
        TotalPrice += parseInt(price, 10);
        updateTotalPrice();
        $('#ModalSelectCPU').modal('hide');
    }

    function openModalSelectCPU() {
        var buttonText = document.getElementById('btnCPU').querySelector('span');

        if (buttonText.innerText === 'Xóa') {
            document.getElementById('btnCPU').querySelector('svg').style.display = 'block';
            buttonText.innerText = 'Thêm';
            document.getElementById('selectedCpuId').value = '';
            document.getElementById('selectedCpuImage').src = 'https://i.postimg.cc/GhkMNN66/n36733-001-arl-i9k-univ-b4cd53ec34294ed9bea8be6f28991d91-medium.webp';
            document.getElementById('selectedCpuName').innerText = '';
            document.getElementById('selectedCpuPrice').innerText = '';
            document.getElementById('selectedCpuTitle').innerText = 'CPU';
            TotalPrice -= parseInt(document.getElementById('CpuPrice').value);
            document.getElementById('CpuPrice').value = '';
            updateTotalPrice();
        } else {
            $('#ModalSelectCPU').modal('show');
        }
    }

    // Mainboard
    function selectMainboard (id, image, name, vprice, price) {
        document.getElementById('selectedMainboardId').value = id;
        document.getElementById('selectedMainboardImage').src = image;
        document.getElementById('selectedMainboardName').innerText = name;
        document.getElementById('selectedMainboardPrice').innerText = vprice + 'đ';
        document.getElementById('selectedMainboardTitle').innerText = '';
        document.getElementById('btnMainboard').querySelector('span').innerText = 'Xóa';
        document.getElementById('btnMainboard').querySelector('svg').style.display = 'none';
        document.getElementById('MainboardPrice').value = price;
        TotalPrice += parseInt(price, 10);
        updateTotalPrice();
        $('#ModalSelectMainboard').modal('hide');
    }

    function openModalSelectMainboard() {
        var buttonText = document.getElementById('btnMainboard').querySelector('span');

        if (buttonText.innerText === 'Xóa') {
            document.getElementById('btnMainboard').querySelector('svg').style.display = 'block';
            buttonText.innerText = 'Thêm';
            document.getElementById('selectedMainboardId').value = '';
            document.getElementById('selectedMainboardImage').src = 'https://i.postimg.cc/pLR0tCHr/x870e-aorus-pro-ice-01-68e6e05781dd48d4a03485dd1930d7ad-medium.webp';
            document.getElementById('selectedMainboardName').innerText = '';
            document.getElementById('selectedMainboardPrice').innerText = '';
            document.getElementById('selectedMainboardTitle').innerText = 'Mainboard';
            TotalPrice -= parseInt(document.getElementById('MainboardPrice').value);
            document.getElementById('MainboardPrice').value = '';
            updateTotalPrice();

        } else {
            $('#ModalSelectMainboard').modal('show');
        }
    }

    // VGA
    function selectVGA (id, image, name, vprice, price) {
        document.getElementById('selectedVgaId').value = id;
        document.getElementById('selectedVgaImage').src = image;
        document.getElementById('selectedVgaName').innerText = name;
        document.getElementById('selectedVgaPrice').innerText = vprice + 'đ';
        document.getElementById('selectedVgaTitle').innerText = '';
        document.getElementById('btnVGA').querySelector('span').innerText = 'Xóa';
        document.getElementById('btnVGA').querySelector('svg').style.display = 'none';
        document.getElementById('VgaPrice').value = price;
        TotalPrice += parseInt(price, 10);
        updateTotalPrice();
        $('#ModalSelectVGA').modal('hide');
    }

    function openModalSelectVGA() {
        var buttonText = document.getElementById('btnVGA').querySelector('span');

        if (buttonText.innerText === 'Xóa') {
            document.getElementById('btnVGA').querySelector('svg').style.display = 'block';
            buttonText.innerText = 'Thêm';
            document.getElementById('selectedVgaId').value = '';
            document.getElementById('selectedVgaImage').src = 'https://i.postimg.cc/ZqF7BgDv/VGA.png';
            document.getElementById('selectedVgaName').innerText = '';
            document.getElementById('selectedVgaPrice').innerText = '';
            document.getElementById('selectedVgaTitle').innerText = 'Card đồ họa';
            TotalPrice -= parseInt(document.getElementById('VgaPrice').value);
            document.getElementById('VgaPrice').value = '';
            updateTotalPrice();
        } else {
            $('#ModalSelectVGA').modal('show');
        }
    }

    // RAM
    function selectRam (id, image, name, vprice, price) {
        document.getElementById('selectedRamId').value = id;
        document.getElementById('selectedRamImage').src = image;
        document.getElementById('selectedRamName').innerText = name;
        document.getElementById('selectedRamPrice').innerText = vprice + 'đ';
        document.getElementById('selectedRamTitle').innerText = '';
        document.getElementById('btnRam').querySelector('span').innerText = 'Xóa';
        document.getElementById('btnRam').querySelector('svg').style.display = 'none';
        document.getElementById('RamPrice').value = price;
        TotalPrice += parseInt(price, 10);
        updateTotalPrice();
        $('#ModalSelectRam').modal('hide');
    }

    function openModalSelectRam() {
        var buttonText = document.getElementById('btnRam').querySelector('span');

        if (buttonText.innerText === 'Xóa') {
            document.getElementById('btnRam').querySelector('svg').style.display = 'block';
            buttonText.innerText = 'Thêm';
            document.getElementById('selectedRamId').value = '';
            document.getElementById('selectedRamImage').src = 'https://i.postimg.cc/RVVw6WZ0/image13.png';
            document.getElementById('selectedRamName').innerText = '';
            document.getElementById('selectedRamPrice').innerText = '';
            document.getElementById('selectedRamTitle').innerText = 'RAM';
            TotalPrice -= parseInt(document.getElementById('RamPrice').value);
            document.getElementById('RamPrice').value = '';
            updateTotalPrice();
        } else {
            $('#ModalSelectRam').modal('show');
        }
    }

    // SSD
    function selectSsd (id, image, name, vprice, price) {
        document.getElementById('selectedSsdId').value = id;
        document.getElementById('selectedSsdImage').src = image;
        document.getElementById('selectedSsdName').innerText = name;
        document.getElementById('selectedSsdPrice').innerText = vprice + 'đ';
        document.getElementById('selectedSsdTitle').innerText = '';
        document.getElementById('btnSsd').querySelector('span').innerText = 'Xóa';
        document.getElementById('btnSsd').querySelector('svg').style.display = 'none';
        document.getElementById('SsdPrice').value = price;
        TotalPrice += parseInt(price, 10);
        updateTotalPrice();
        $('#ModalSelectSsd').modal('hide');
    }

    function openModalSelectSsd() {
        var buttonText = document.getElementById('btnSsd').querySelector('span');

        if (buttonText.innerText === 'Xóa') {
            document.getElementById('btnSsd').querySelector('svg').style.display = 'block';
            buttonText.innerText = 'Thêm';
            document.getElementById('selectedSsdId').value = '';
            document.getElementById('selectedSsdImage').src = 'https://i.postimg.cc/Y2vZXdrw/image.png';
            document.getElementById('selectedSsdName').innerText = '';
            document.getElementById('selectedSsdPrice').innerText = '';
            document.getElementById('selectedSsdTitle').innerText = 'SSD';
            TotalPrice -= parseInt(document.getElementById('SsdPrice').value);
            document.getElementById('SsdPrice').value = '';
            updateTotalPrice();
        } else {
            $('#ModalSelectSsd').modal('show');
        }
    }


    // HDD
    function selectHdd (id, image, name, vprice, price) {
        document.getElementById('selectedHddId').value = id;
        document.getElementById('selectedHddImage').src = image;
        document.getElementById('selectedHddName').innerText = name;
        document.getElementById('selectedHddPrice').innerText = vprice + 'đ';
        document.getElementById('selectedHddTitle').innerText = '';
        document.getElementById('btnHdd').querySelector('span').innerText = 'Xóa';
        document.getElementById('btnHdd').querySelector('svg').style.display = 'none';
        document.getElementById('HddPrice').value = price;
        TotalPrice += parseInt(price, 10);
        updateTotalPrice();
        $('#ModalSelectHdd').modal('hide');
    }

    function openModalSelectHdd() {
        var buttonText = document.getElementById('btnHdd').querySelector('span');

        if (buttonText.innerText === 'Xóa') {
            document.getElementById('btnHdd').querySelector('svg').style.display = 'block';
            buttonText.innerText = 'Thêm';
            document.getElementById('selectedHddId').value = '';
            document.getElementById('selectedHddImage').src = 'https://i.postimg.cc/fTXFskS2/image2.png';
            document.getElementById('selectedHddName').innerText = '';
            document.getElementById('selectedHddPrice').innerText = '';
            document.getElementById('selectedHddTitle').innerText = 'HDD';
            TotalPrice -= parseInt(document.getElementById('HddPrice').value);
            document.getElementById('HddPrice').value = '';
            updateTotalPrice();
        } else {
            $('#ModalSelectHdd').modal('show');
        }
    }

    // Case
    function selectCase (id, image, name, vprice, price) {
        document.getElementById('selectedCaseId').value = id;
        document.getElementById('selectedCaseImage').src = image;
        document.getElementById('selectedCaseName').innerText = name;
        document.getElementById('selectedCasePrice').innerText = vprice + 'đ';
        document.getElementById('selectedCaseTitle').innerText = '';
        document.getElementById('btnCase').querySelector('span').innerText = 'Xóa';
        document.getElementById('btnCase').querySelector('svg').style.display = 'none';
        document.getElementById('CasePrice').value = price;
        TotalPrice += parseInt(price, 10);
        updateTotalPrice();
        $('#ModalSelectCase').modal('hide');
    }

    function openModalSelectCase() {
        var buttonText = document.getElementById('btnCase').querySelector('span');

        if (buttonText.innerText === 'Xóa') {
            document.getElementById('btnCase').querySelector('svg').style.display = 'block';
            buttonText.innerText = 'Thêm';
            document.getElementById('selectedCaseId').value = '';
            document.getElementById('selectedCaseImage').src = 'https://i.postimg.cc/wxnPnDMR/image3.png';
            document.getElementById('selectedCaseName').innerText = '';
            document.getElementById('selectedCasePrice').innerText = '';
            document.getElementById('selectedCaseTitle').innerText = 'Case PC';
            TotalPrice -= parseInt(document.getElementById('CasePrice').value);
            document.getElementById('CasePrice').value = '';
            updateTotalPrice();
        } else {
            $('#ModalSelectCase').modal('show');
        }
    }


    // PSU (Nguồn)
    function selectPsu (id, image, name, vprice, price) {
        document.getElementById('selectedPsuId').value = id;
        document.getElementById('selectedPsuImage').src = image;
        document.getElementById('selectedPsuName').innerText = name;
        document.getElementById('selectedPsuPrice').innerText = vprice + 'đ';
        document.getElementById('selectedPsuTitle').innerText = '';
        document.getElementById('btnPsu').querySelector('span').innerText = 'Xóa';
        document.getElementById('btnPsu').querySelector('svg').style.display = 'none';
        document.getElementById('PsuPrice').value = price;
        TotalPrice += parseInt(price, 10);
        updateTotalPrice();
        $('#ModalSelectPsu').modal('hide');
    }

    function openModalSelectPsu() {
        var buttonText = document.getElementById('btnPsu').querySelector('span');

        if (buttonText.innerText === 'Xóa') {
            document.getElementById('btnPsu').querySelector('svg').style.display = 'block';
            buttonText.innerText = 'Thêm';
            document.getElementById('selectedPsuId').value = '';
            document.getElementById('selectedPsuImage').src = 'https://i.postimg.cc/x12Z1YK0/image4.png';
            document.getElementById('selectedPsuName').innerText = '';
            document.getElementById('selectedPsuPrice').innerText = '';
            document.getElementById('selectedPsuTitle').innerText = 'Nguồn';
            TotalPrice -= parseInt(document.getElementById('PsuPrice').value);
            document.getElementById('PsuPrice').value = '';
            updateTotalPrice();
        } else {
            $('#ModalSelectPsu').modal('show');
        }
    }


    // Tản Nhiệt
    function selectTanNhiet (id, image, name, vprice, price) {
        document.getElementById('selectedTanNhietId').value = id;
        document.getElementById('selectedTanNhietImage').src = image;
        document.getElementById('selectedTanNhietName').innerText = name;
        document.getElementById('selectedTanNhietPrice').innerText = vprice +'đ';
        document.getElementById('selectedTanNhietTitle').innerText = '';
        document.getElementById('btnTanNhiet').querySelector('span').innerText = 'Xóa';
        document.getElementById('btnTanNhiet').querySelector('svg').style.display = 'none';
        document.getElementById('TanNhietPrice').value = price;
        TotalPrice += parseInt(price, 10);
        updateTotalPrice();
        $('#ModalSelectTanNhiet').modal('hide');
    }

    function openModalSelectTanNhiet() {
        var buttonText = document.getElementById('btnTanNhiet').querySelector('span');

        if (buttonText.innerText === 'Xóa') {
            document.getElementById('btnTanNhiet').querySelector('svg').style.display = 'block';
            buttonText.innerText = 'Thêm';
            document.getElementById('selectedTanNhietId').value = '';
            document.getElementById('selectedTanNhietImage').src = 'https://i.postimg.cc/W1wHDKn0/image5.png';
            document.getElementById('selectedTanNhietName').innerText = '';
            document.getElementById('selectedTanNhietPrice').innerText = '';
            document.getElementById('selectedTanNhietTitle').innerText = 'Tản Nhiệt';
            TotalPrice -= parseInt(document.getElementById('TanNhietPrice').value);
            document.getElementById('TanNhietPrice').value = '';
            updateTotalPrice();
        } else {
            $('#ModalSelectTanNhiet').modal('show');
        }
    }


    // Monitor
    function selectMonitor (id, image, name, vprice, price) {
        document.getElementById('selectedMonitorId').value = id;
        document.getElementById('selectedMonitorImage').src = image;
        document.getElementById('selectedMonitorName').innerText = name;
        document.getElementById('selectedMonitorPrice').innerText = vprice + 'đ';
        document.getElementById('selectedMonitorTitle').innerText = '';
        document.getElementById('btnMonitor').querySelector('span').innerText = 'Xóa';
        document.getElementById('btnMonitor').querySelector('svg').style.display = 'none';
        document.getElementById('MonitorPrice').value = price;
        TotalPrice += parseInt(price, 10);
        updateTotalPrice();
        $('#ModalSelectMonitor').modal('hide');
    }

    function openModalSelectMonitor() {
        var buttonText = document.getElementById('btnMonitor').querySelector('span');

        if (buttonText.innerText === 'Xóa') {
            document.getElementById('btnMonitor').querySelector('svg').style.display = 'block';
            buttonText.innerText = 'Thêm';
            document.getElementById('selectedMonitorId').value = '';
            document.getElementById('selectedMonitorImage').src = 'https://i.postimg.cc/d0QSGBHp/image6.png';
            document.getElementById('selectedMonitorName').innerText = '';
            document.getElementById('selectedMonitorPrice').innerText = '';
            document.getElementById('selectedMonitorTitle').innerText = 'Màn Hình';
            TotalPrice -= parseInt(document.getElementById('MonitorPrice').value);
            document.getElementById('MonitorPrice').value = '';
            updateTotalPrice();
        } else {
            $('#ModalSelectMonitor').modal('show');
        }
    }


    // Mouse
    function selectMouse (id, image, name, vprice, price) {
        document.getElementById('selectedMouseId').value = id;
        document.getElementById('selectedMouseImage').src = image;
        document.getElementById('selectedMouseName').innerText = name;
        document.getElementById('selectedMousePrice').innerText = vprice + 'đ';
        document.getElementById('selectedMouseTitle').innerText = '';
        document.getElementById('btnMouse').querySelector('span').innerText = 'Xóa';
        document.getElementById('btnMouse').querySelector('svg').style.display = 'none';
        document.getElementById('MousePrice').value = price;
        TotalPrice += parseInt(price, 10);
        updateTotalPrice();
        $('#ModalSelectMouse').modal('hide');
    }

    function openModalSelectMouse() {
        var buttonText = document.getElementById('btnMouse').querySelector('span');

        if (buttonText.innerText === 'Xóa') {
            document.getElementById('btnMouse').querySelector('svg').style.display = 'block';
            buttonText.innerText = 'Thêm';
            document.getElementById('selectedMouseId').value = '';
            document.getElementById('selectedMouseImage').src = 'https://i.postimg.cc/tJRnxcyc/image14.png';
            document.getElementById('selectedMouseName').innerText = '';
            document.getElementById('selectedMousePrice').innerText = '';
            document.getElementById('selectedMouseTitle').innerText = 'Chuột';
            TotalPrice -= parseInt(document.getElementById('MousePrice').value);
            document.getElementById('MousePrice').value = '';
            updateTotalPrice();
        } else {
            $('#ModalSelectMouse').modal('show');
        }
    }


    // Keyboard
    function selectKeyboard (id, image, name, vprice, price) {
        document.getElementById('selectedKeyboardId').value = id;
        document.getElementById('selectedKeyboardImage').src = image;
        document.getElementById('selectedKeyboardName').innerText = name;
        document.getElementById('selectedKeyboardPrice').innerText = vprice + 'đ';
        document.getElementById('selectedKeyboardTitle').innerText = '';
        document.getElementById('btnKeyboard').querySelector('span').innerText = 'Xóa';
        document.getElementById('btnKeyboard').querySelector('svg').style.display = 'none';
        document.getElementById('KeyboardPrice').value = price;
        TotalPrice += parseInt(price, 10);
        updateTotalPrice();
        $('#ModalSelectKeyboard').modal('hide');
    }

    function openModalSelectKeyboard() {
        var buttonText = document.getElementById('btnKeyboard').querySelector('span');

        if (buttonText.innerText === 'Xóa') {
            document.getElementById('btnKeyboard').querySelector('svg').style.display = 'block';
            buttonText.innerText = 'Thêm';
            document.getElementById('selectedKeyboardId').value = '';
            document.getElementById('selectedKeyboardImage').src = 'https://i.postimg.cc/Y9ZnKwrB/image7.png';
            document.getElementById('selectedKeyboardName').innerText = '';
            document.getElementById('selectedKeyboardPrice').innerText = '';
            document.getElementById('selectedKeyboardTitle').innerText = 'Bàn Phím';
            TotalPrice -= parseInt(document.getElementById('KeyboardPrice').value);
            document.getElementById('KeyboardPrice').value = '';
            updateTotalPrice();
        } else {
            $('#ModalSelectKeyboard').modal('show');
        }
    }


    // Earphone
    function selectEarphone (id, image, name, vprice, price) {
        document.getElementById('selectedEarphoneId').value = id;
        document.getElementById('selectedEarphoneImage').src = image;
        document.getElementById('selectedEarphoneName').innerText = name;
        document.getElementById('selectedEarphonePrice').innerText = vprice + 'đ';
        document.getElementById('selectedEarphoneTitle').innerText = '';
        document.getElementById('btnEarphone').querySelector('span').innerText = 'Xóa';
        document.getElementById('btnEarphone').querySelector('svg').style.display = 'none';
        document.getElementById('EarphonePrice').value = price;
        TotalPrice += parseInt(price, 10);
        updateTotalPrice();
        $('#ModalSelectEarphone').modal('hide');
    }

    function openModalSelectEarphone() {
        var buttonText = document.getElementById('btnEarphone').querySelector('span');

        if (buttonText.innerText === 'Xóa') {
            document.getElementById('btnEarphone').querySelector('svg').style.display = 'block';
            buttonText.innerText = 'Thêm';
            document.getElementById('selectedEarphoneId').value = '';
            document.getElementById('selectedEarphoneImage').src = 'https://i.postimg.cc/cC3Dd5Cg/image8.png';
            document.getElementById('selectedEarphoneName').innerText = '';
            document.getElementById('selectedEarphonePrice').innerText = '';
            document.getElementById('selectedEarphoneTitle').innerText = 'Tai Nghe';
            TotalPrice -= parseInt(document.getElementById('EarphonePrice').value);
            document.getElementById('EarphonePrice').value = '';
            updateTotalPrice();
        } else {
            $('#ModalSelectEarphone').modal('show');
        }
    }

    function resetAllBox() {
        // Total Price
        TotalPrice = 0;
        updateTotalPrice();

        // CPU
        document.getElementById('btnCPU').querySelector('svg').style.display = 'block';
        document.getElementById('btnCPU').querySelector('span').innerText = 'Thêm';
        document.getElementById('selectedCpuId').value = '';
        document.getElementById('selectedCpuImage').src = 'https://i.postimg.cc/GhkMNN66/n36733-001-arl-i9k-univ-b4cd53ec34294ed9bea8be6f28991d91-medium.webp';
        document.getElementById('selectedCpuName').innerText = '';
        document.getElementById('selectedCpuPrice').innerText = '';
        document.getElementById('selectedCpuTitle').innerText = 'CPU';

        // Mainboard
        document.getElementById('btnMainboard').querySelector('svg').style.display = 'block';
        document.getElementById('btnMainboard').querySelector('span').innerText = 'Thêm';
        document.getElementById('selectedMainboardId').value = '';
        document.getElementById('selectedMainboardImage').src = 'https://i.postimg.cc/pLR0tCHr/x870e-aorus-pro-ice-01-68e6e05781dd48d4a03485dd1930d7ad-medium.webp';
        document.getElementById('selectedMainboardName').innerText = '';
        document.getElementById('selectedMainboardPrice').innerText = '';
        document.getElementById('selectedMainboardTitle').innerText = 'Mainboard';

        // VGA
        document.getElementById('btnVGA').querySelector('svg').style.display = 'block';
        document.getElementById('btnVGA').querySelector('span').innerText = 'Thêm';
        document.getElementById('selectedVgaId').value = '';
        document.getElementById('selectedVgaImage').src = 'https://i.postimg.cc/ZqF7BgDv/VGA.png';
        document.getElementById('selectedVgaName').innerText = '';
        document.getElementById('selectedVgaPrice').innerText = '';
        document.getElementById('selectedVgaTitle').innerText = 'Card đồ họa';

        // RAM
        document.getElementById('btnRam').querySelector('svg').style.display = 'block';
        document.getElementById('btnRam').querySelector('span').innerText = 'Thêm';
        document.getElementById('selectedRamId').value = '';
        document.getElementById('selectedRamImage').src = 'https://i.postimg.cc/RVVw6WZ0/image13.png';
        document.getElementById('selectedRamName').innerText = '';
        document.getElementById('selectedRamPrice').innerText = '';
        document.getElementById('selectedRamTitle').innerText = 'RAM';

        // SSD
        document.getElementById('btnSsd').querySelector('svg').style.display = 'block';
        document.getElementById('btnSsd').querySelector('span').innerText = 'Thêm';
        document.getElementById('selectedSsdId').value = '';
        document.getElementById('selectedSsdImage').src = 'https://i.postimg.cc/Y2vZXdrw/image.png';
        document.getElementById('selectedSsdName').innerText = '';
        document.getElementById('selectedSsdPrice').innerText = '';
        document.getElementById('selectedSsdTitle').innerText = 'SSD';

        // HDD
        document.getElementById('btnHdd').querySelector('svg').style.display = 'block';
        document.getElementById('btnHdd').querySelector('span').innerText = 'Thêm';
        document.getElementById('selectedHddId').value = '';
        document.getElementById('selectedHddImage').src = 'https://i.postimg.cc/fTXFskS2/image2.png';
        document.getElementById('selectedHddName').innerText = '';
        document.getElementById('selectedHddPrice').innerText = '';
        document.getElementById('selectedHddTitle').innerText = 'HDD';

        // Case
        document.getElementById('btnCase').querySelector('svg').style.display = 'block';
        document.getElementById('btnCase').querySelector('span').innerText = 'Thêm';
        document.getElementById('selectedCaseId').value = '';
        document.getElementById('selectedCaseImage').src = 'https://i.postimg.cc/wxnPnDMR/image3.png';
        document.getElementById('selectedCaseName').innerText = '';
        document.getElementById('selectedCasePrice').innerText = '';
        document.getElementById('selectedCaseTitle').innerText = 'Case PC';

        // PSU
        document.getElementById('btnPsu').querySelector('svg').style.display = 'block';
        document.getElementById('btnPsu').querySelector('span').innerText = 'Thêm';
        document.getElementById('selectedPsuId').value = '';
        document.getElementById('selectedPsuImage').src = 'https://i.postimg.cc/x12Z1YK0/image4.png';
        document.getElementById('selectedPsuName').innerText = '';
        document.getElementById('selectedPsuPrice').innerText = '';
        document.getElementById('selectedPsuTitle').innerText = 'Nguồn';

        //Tan Nhiet
        document.getElementById('btnTanNhiet').querySelector('svg').style.display = 'block';
        document.getElementById('btnTanNhiet').querySelector('span').innerText = 'Thêm';
        document.getElementById('selectedTanNhietId').value = '';
        document.getElementById('selectedTanNhietImage').src = 'https://i.postimg.cc/W1wHDKn0/image5.png';
        document.getElementById('selectedTanNhietName').innerText = '';
        document.getElementById('selectedTanNhietPrice').innerText = '';
        document.getElementById('selectedTanNhietTitle').innerText = 'Tản Nhiệt';

        // Monitor
        document.getElementById('btnMonitor').querySelector('svg').style.display = 'block';
        document.getElementById('btnMonitor').querySelector('span').innerText = 'Thêm';
        document.getElementById('selectedMonitorId').value = '';
        document.getElementById('selectedMonitorImage').src = 'https://i.postimg.cc/d0QSGBHp/image6.png';
        document.getElementById('selectedMonitorName').innerText = '';
        document.getElementById('selectedMonitorPrice').innerText = '';
        document.getElementById('selectedMonitorTitle').innerText = 'Màn Hình';

        // Mouse
        document.getElementById('btnMouse').querySelector('svg').style.display = 'block';
        document.getElementById('btnMouse').querySelector('span').innerText = 'Thêm';
        document.getElementById('selectedMouseId').value = '';
        document.getElementById('selectedMouseImage').src = 'https://i.postimg.cc/tJRnxcyc/image14.png';
        document.getElementById('selectedMouseName').innerText = '';
        document.getElementById('selectedMousePrice').innerText = '';
        document.getElementById('selectedMouseTitle').innerText = 'Chuột';

        // Keyboard
        document.getElementById('btnKeyboard').querySelector('svg').style.display = 'block';
        document.getElementById('btnKeyboard').querySelector('span').innerText = 'Thêm';
        document.getElementById('selectedKeyboardId').value = '';
        document.getElementById('selectedKeyboardImage').src = 'https://i.postimg.cc/Y9ZnKwrB/image7.png';
        document.getElementById('selectedKeyboardName').innerText = '';
        document.getElementById('selectedKeyboardPrice').innerText = '';
        document.getElementById('selectedKeyboardTitle').innerText = 'Bàn Phím';

        // Earphone
        document.getElementById('btnEarphone').querySelector('svg').style.display = 'block';
        document.getElementById('btnEarphone').querySelector('span').innerText = 'Thêm';
        document.getElementById('selectedEarphoneId').value = '';
        document.getElementById('selectedEarphoneImage').src = 'https://i.postimg.cc/cC3Dd5Cg/image8.png';
        document.getElementById('selectedEarphoneName').innerText = '';
        document.getElementById('selectedEarphonePrice').innerText = '';
        document.getElementById('selectedEarphoneTitle').innerText = 'Tai Nghe';

    }
</script>


