@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = ViewBag.ProductTypeName;
    var processedId = new List<dynamic>();
    var processedId2 = new List<string>();
}

@model Chill_Computer.Models.Product

<div class="main-content">
    <div class="title">
        <a asp-controller="Home" asp-action="Index" style="text-decoration:none;">
            <p class="box">Trang chủ</p>
        </a>
        <p> / </p>
        <a asp-controller="Product" asp-action="ProductListPage" asp-route-id="@Model.TypeId" style="text-decoration:none;">
            <p class="box">@ViewBag.ProductTypeName</p>
        </a>
        <p> / </p>
        <p class="box box-active">@ViewBag.Brand.BrandName</p>
    </div>

    <div class="slide-box" id="active-slide">
        <div class="active-slide"></div>
        <button class="btn-slide">Thông tin</button>
        <button class="btn-slide"><a href="#details" style="text-decoration:none; color: black;">Cấu hình</a></button>
        <button class="btn-slide">Bài viết</button>
    </div>

    <div class="product-basic-info row">
        <div class="basic-info-left col-lg-7">
            <div class="product-img-container">
                <img src="@Model.Img1"
                alt width="486px" height="486px">
            </div>

            <div class="img-selection">
                <button class="selected-img">
                    <img src="@Model.Img1" alt="">
                </button>
                <button>
                    <img src="@Model.Img2" alt="">
                </button>
                <button>
                    <img src="@Model.Img3" alt="">
                </button>
            </div>

            <div class="product-detail-info" id="details">
                <h3>Cấu hình & đặc điểm</h3>
                <div class="rounded-table" style="overflow: hidden;">
                    <table>
                        @foreach (var attr in ViewBag.AttrbuteList)
                        {          
                                foreach (var productAttr in ((IEnumerable<dynamic>)ViewBag.ProductAttributeList).Where(f => f.AttributeId == attr.AttributeId && f.ProductId == Model.ProductId))
                                {
                                    <tr>
                                        <td>@attr.AttributeName </td>
                                        <td>@productAttr.AttributeValue </td>
                                    </tr>                                   
                                }                                                     
                        }
                    </table>
                </div>
            </div>

        </div>

        <div class="basic-info-right col-lg-5">
            <h3>
                @Model.ProductName - @Model.Version
            </h3>

            <span>Phiên bản</span>

            <div class="type-div">
                @foreach (var ver in ViewBag.ProductVersion)
                {
                    <a asp-route="ProductDetailByVersion" asp-route-productName="@Model.ProductName" asp-route-productVersion="@ver">
                        <button class="type-box @(ver == Model.Version ? "box-active" : "")">@ver</button>
                    </a>
                }
            </div>

            <span>Màu</span>

            <div class="color-div">
                <button class="type-box">@Model.Color</button>
            </div>

            <h4 class>@Model.FormattedPrice đ</h4>

            <div class="btn-div">
                <button class="btn1 col-lg-6 add-to-cart" data-id="@Model.ProductId">
                    <svg width="24" height="24" viewBox="0 0 24 24"
                         fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M16.9303 7C16.9621 6.92913 16.977 6.85189 16.9739 6.77432H17C16.8882 4.10591 14.6849 2 12.0049 2C9.325 2 7.12172 4.10591 7.00989 6.77432C6.9967 6.84898 6.9967 6.92535 7.00989 7H6.93171C5.65022 7 4.28034 7.84597 3.88264 10.1201L3.1049 16.3147C2.46858 20.8629 4.81062 22 7.86853 22H16.1585C19.2075 22 21.4789 20.3535 20.9133 16.3147L20.1444 10.1201C19.676 7.90964 18.3503 7 17.0865 7H16.9303ZM15.4932 7C15.4654 6.92794 15.4506 6.85153 15.4497 6.77432C15.4497 4.85682 13.8899 3.30238 11.9657 3.30238C10.0416 3.30238 8.48184 4.85682 8.48184 6.77432C8.49502 6.84898 8.49502 6.92535 8.48184 7H15.4932ZM9.097 12.1486C8.60889 12.1486 8.21321 11.7413 8.21321 11.2389C8.21321 10.7366 8.60889 10.3293 9.097 10.3293C9.5851 10.3293 9.98079 10.7366 9.98079 11.2389C9.98079 11.7413 9.5851 12.1486 9.097 12.1486ZM14.002 11.2389C14.002 11.7413 14.3977 12.1486 14.8858 12.1486C15.3739 12.1486 15.7696 11.7413 15.7696 11.2389C15.7696 10.7366 15.3739 10.3293 14.8858 10.3293C14.3977 10.3293 14.002 10.7366 14.002 11.2389Z"
                              fill="white" />
                    </svg>
                    Thêm vào giỏ
                </button>
                <button class="btn2 col-lg-6">Mua ngay</button>
            </div>
        </div>
    </div>

    <div>
    </div>
</div>

<script>
            $(document).ready(function(){
        $(".box").click(function(){
            $(".box").removeClass("box-active");
            $(this).addClass("box-active");
        });

        var initialPosition = $(".btn-slide").first().position().left;
        $(".active-slide").css({
            left: initialPosition,
            transition: "left 0.5s"
        });

        $(".btn-slide").click(function(){
            var activePosition = $(this).position().left;
            var activeSlide = $(".active-slide");
            activeSlide.css({
                left: activePosition
            })
        });

        $('.img-selection button').first().addClass('selected-img').css('border', '2px solid black');

        $('.img-selection button').on('click', function(){
            var newImgSrc = $(this).find('img').attr('src');
            $('.product-img-container img').attr('src', newImgSrc);

            $('.img-selection button').removeClass('selected-img').css('border', 'none');
            $(this).addClass('selected-img').css('border', '2px solid black');
        });

            $('.add-to-cart').click(function () {
        var productId = $(this).data('id');

        $.ajax({
            url: '@Url.Action("AddToCart", "Cart")',
            type: 'POST',
            data: { productId: productId },
            success: function (response) {
                if (response.success) {
                    $('.modal-cart-title h5').text('Giỏ hàng (' + response.count + ')');
                    // optionally, you could refresh or update the cart UI here dynamically
                    $.get('@Url.Action("RenderMiniCart", "Cart")', function (html) {
                        $('#cart-container').html(html);
                    });
                    $.get('@Url.Action("RenderCartButton", "Cart")', function (html){
                        $('#cartButton').html(html);
                    });
                } else {
                    alert('Có lỗi xảy ra!');
                }
            }
        });
    });
    });
</script>