
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<Product> list = ViewBag.ProductList;
}
@if (list != null)
{
    foreach (var product in list)
    {
        <a asp-controller="Product" asp-action="ProductDetailPage" asp-route-id="@product.ProductId" style="text-decoration: none; color: black;">
            <div class="product-box-search">
                <img src="@product.Img1" height="230" width="230" alt="">
                <div class="product-info-search">
                    <span style="font-weight: 600;">@product.ProductName</span>
                    <h6>@product.FormattedPrice đ</h6>
                    <div class="color-list">
                        <span>@product.Color</span>
                        <svg width="14" height="14">
                            <circle cx="7" cy="7" r="7" fill="@(product.Color.Contains("Gray") || product.Color.Contains("Grey") ? "Gray" : "")" />
                        </svg>
                    </div>
                    <span style="font-size: 14px">@product.Version</span>
                    <div class="product-version-count">
                        @{
                            var versionList = ((IEnumerable<dynamic>)ViewBag.ProductList)
                            .Where(p => p.ProductName == product.ProductName)
                            .ToList();
                        }
                        @if (versionList.Count > 1)
                        {
                            <span>+ @versionList.Count tùy chọn khác</span>
                        }

                    </div>
                </div>
            </div>
        </a>
    }
}
else
{
    if (ViewBag.ErrorMessage != null)
    {
        <span>@ViewBag.ErrorMessage</span>
    }
}